.btn-primary {
  padding: 6px 8px;
  border-radius: var(--border-sm);
  color: var(--white);
  border: none;
  background-color: var(--green);
  font-weight: bold;
  opacity: .9;

  &:hover {
    opacity: 1;
  }
}

.btn-secondary {
  padding: 6px 8px;
  border-radius: var(--border-sm);
  color: var(--green);
  border: 1px solid var(--green);
  background-color: var(--white);
  font-weight: bold;

  &:hover {
    color: var(--white);
    background-color: var(--green);
  }
}

.btn-outline {
  padding: 6px 8px;
  border-radius: var(--border-sm);
  border: 1px solid gray;
  background-color: var(--white);
  font-weight: bold;
  
  &:hover {
    opacity: 1;
    color: var(--white);
    border: 1px solid var(--green);
    background-color: var(--green);
  }
}

.button-group {
  display: flex;

  &__item {
    border-radius: var(--border-sm);
    border: 1px solid var(--gray);
    padding: 6px 10px;
    margin-right: 10px;
    cursor: pointer;

    &.active {
      background-color: rgba(0,171,78,.1);
      color: var(--green);
      border: 1px solid var(--green);
    }
  }
}