:root {
  --green: #00ab4e;
  --green-dark: #004d43;
  --white: #ffffff;
  --gray: #bbbdc0;

  --border-sm: 6px;
  --border-md: 12px;
  --border-lg: 24px;

  --box-shadow-sm: 0 2px 6px 0 #00000024;
  --box-shadow-md: 0 6px 14px 0 #00000029;
  
  --border: 1px solid #dee2e6;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import "~bootstrap/scss/bootstrap";


@import 'global';
@import 'header';
@import 'button';
@import 'card';
@import 'footer';